In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("mydb.db")

In [3]:
con.execute('''CREATE TABLE person (id INT PRIMARY KEY NOT NULL, first_name VARCHAR(30) NOT NULL, last_name VARCHAR(50), age INT)''')

OperationalError: table person already exists

In [4]:
con.execute('''INSERT INTO person VALUES(1, "Diana", "Perez", 50)''')
con.execute('''INSERT INTO person VALUES(2, "Juan", "Sanchez", 40)''')
con.execute('''INSERT INTO person VALUES(3, "Ana", "Lopez", 25)''')

IntegrityError: UNIQUE constraint failed: person.id

In [5]:
con.commit()

In [6]:
cursor = con.execute('''SELECT * FROM person''')
for row in cursor:
    print(f"{row[0]} {row[1]} {row[2]} {row[3]}")

1 Diana Perez 48
2 Juan Sanchez 40

In [7]:
con.execute('''UPDATE person SET age = 48 WHERE id = 1''')

In [8]:
con.execute('''DELETE FROM person WHERE id = 3''')
con.commit()

In [9]:
cursor = con.execute('''SELECT * FROM person''')
for row in cursor:
    print(f"{row[0]} {row[1]} {row[2]} {row[3]}")

1 Diana Perez 48
2 Juan Sanchez 40

In [10]:
cursor_df = pd.read_sql('SELECT * FROM person', con)
print(cursor_df)

   id first_name last_name  age
0   1      Diana     Perez   48
1   2       Juan   Sanchez   40

In [12]:
import os
from dotenv import load_dotenv
load_dotenv()

ModuleNotFoundError: No module named 'dotenv'

In [ ]:
print(f'os.getenv("DB_USER")')